.st0{fill:none;stroke:#F1F1F1;stroke-width:4.5156;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:#126DAC;}
.st2{opacity:0.95;}
.st3{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st4{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
.st6{font-family:'StratumNo1-Black';}
.st7{font-size:23.5949px;}
.st8{fill:none;stroke:#094C81;stroke-width:4.5156;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}